<div class="blue-body">
  <%= render 'shared/navbar'%>
  <%= link_to "View Cart", checkout_order_path(@cart) %>
  <% @menu_items.each do |menu_item| %>
    <div class="menu-card col-8">
        <div class="menu-image-container">
          <%= image_tag "salad", class: "menu-item-img" %>
        </div>
        <div class="menu-text-container">
          <div class="menu-title">
            <strong><%= menu_item.name.capitalize %></strong>
          </div>
          <div class="menu-item-description">
            <p>Lorem ipsum dolore sit ipsum dolore sit ipsum dolore sit amet<%= menu_item.description %> </p>
          </div>
          <div class="menu-item-price">
              12.37 €<%= menu_item.price %>
            </div>
        </div>
        <div class="add-to-cart">
            <div class="add-button">
          <%= simple_form_for @order_item, url: order_items_path(@cart.id) do |f| %>
            <%= hidden_field_tag(:item_id, menu_item.id) %>
            <%= f.input :quantity, label: "Quantity", placeholder: '0', input_html: {value: 1}, as: :integer %>
            <%= f.button :button, ' Add to Cart', class: 'btn-icon' %>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>
</div>
