<br>
<br>
<h1><%= @cart.order_items.length %> </h1>
<%= link_to "view cart", checkout_order_path(@cart) %>
<div class="blue-body">
<%= render 'shared/navbar'%>

<% @menu_items.each do |menu_item| %>
  <div class="menu-card">

      <div class="menu-image-container">
        <%= image_tag "salad", class: "menu-item-img" %>
      </div>


      <div class="menu-text-container">

          <div class="menu-title">
            <strong><%= menu_item.name.capitalize %></strong>
          </div>

        <div class="menu-item-description">
          <p>Lorem ipsum dolore sit amet<%= menu_item.description %> </p>
        </div>
      </div>



      <div class="add-to-cart">
          <div class="menu-item-price">
            €<%= menu_item.price %>
          </div>
          <div class="add-button">
        <%= simple_form_for @order_item, url: order_items_path(@cart.id) do |f| %>
          <%= hidden_field_tag(:item_id, menu_item.id) %>
          </div>
        <% end %>
      </div>

  </div>
<% end %>

<!-- We don't want quantity in cards. Only in cart. Gonzalo. -->


<% @menu_items.each do |menu_item| %>
  <div class="tbd">
    <%= simple_form_for @order_item, url: order_items_path(@cart.id) do |f| %>
      <%= hidden_field_tag(:item_id, menu_item.id) %>
      <%= f.input :quantity, label: 'quantity' %>
      <%= f.button :submit, class: 'btn-primary', value: 'add to cart' %>
    <% end %>
  </div>
<% end %>


</div>
