<div id="navbar" class="navbar-gfr">
    <div class="navbar-left">
        <a href="/dashboard">
            <img src="https://www.depitskeuken.nl/wp-content/uploads/2018/10/cropped-pitslogovert-192x192.png" alt="logo">
        </a>
    </div>
    <div class="navbar-text">
        <% if current_user.admin == true%>
        <div>
            <p class="kitchen-status">Kitchen is open</p>
            <label class="switch">
                <input id="kitchen" type="checkbox" unchecked>
                <span class="slider round"></span>
            </label>
        </div>
        <% else %>
        Welcome,
        <%= current_user.first_name %>!
        <% end %>
    </div>
    <div class="navbar-right">
        <% if current_user.admin == true%>
        <%= link_to "Dashboard", dashboard_path, class: "btn btn-dark" %>
        <% end %>
        <% if current_user.admin == false %>
        <% if Order.where(user: current_user, status: "in progress").first_or_create %>
        <%= link_to "My Cart", checkout_order_path(Order.where(user: current_user, status: "in progress").first_or_create), class: "btn btn-primary" %>
        <% end %>
        <%= link_to "My Orders", show_current_orders_path, class: "btn btn-success" %>
        <% end %>
        <% if current_user == nil%> -->
        <a class="btn btn-primary" href='/users/sign_in'>Login</a>
        <a class="btn btn-primary" href='/users/sign_up'>New User</a>
        <% else %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        <% end %>
    </div>
</div>
