<div class="red-body">
    <%= render 'shared/navbar' %>
    <% @orders.each do |order| %>
    <div class="order-card">
        <div class="blue-title-md order-id">
            #
            <%= order.id %>
        </div>
        <div class="customer-details">
            <div class="cutomer-identity">
                <div class="blue-title-md customer-title">
                    <%= order.user.first_name %>
                    <%= order.user.last_name %>
                </div>
                <div class="blue-title-sm">
                    <%= order.user.email %>
                </div>
                <div class="blue-title-sm"><%= order.user.organization %> </div>
                <div class="blue-title-sm"><%= order.time_started %> </div>
                <div class="blue-title-sm"><%= order.time_finished %> </div>
                <div class="black-title-sm">Order ID:
                    <%= order.id %>
                </div>
            </div>
        </div>
        <div class="order-management">
            <div class="order-tally">
                <div>
                    <% total_price = 0 %>
                    <% order.order_items.each do |order_item|  %>
                    <div class="order-details-checkout">
                        <div class="tally-id">
                            <%= order_item.quantity %>x</div>
                        <div class="tally-item">
                            <%= order_item.menu_item.name%>
                        </div>
                        <div class="tally-price">
                            <%=number_with_precision(order_item.menu_item.price, precision: 2)%> €</div>
                    </div>
                    <% total_price = total_price + (order_item.quantity * order_item.menu_item.price) %>
                    <% end %>
                    <hr>
                    <div class="order-details-checkout">
                        <div class="tally-id"></div>
                        <div class="tally-item">Total</div>
                        <div class="tally-price">
                            <%= number_with_precision(total_price, precision: 2) %> €</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
  </div>
