<div class="blue-body">
    <%= render 'shared/navbar' %>
<% @orders.each do |order| %>

    <div class="order-card">
          <div class="blue-title-md order-id"># <%= order.id %></div>
          <div class="customer-details">
              <div class="cutomer-identity">
                  <div class="blue-title-md customer-title">
                      <%= order.user.first_name %>
                      <%= order.user.last_name %>
                  </div>
                  <div class="blue-title-sm">
                      <%= order.time_started.strftime("%Y/%m/%d %H:%M") %>
                  </div>
                  <br>
                  <br>
                <div class="btn btn-danger"><%= order.status %></div>
              </div>
          </div>
          <div class="order-management">
              <div class="order-tally">
                  <div>
                      <% total_price = 0 %>
                      <% order.order_items.each do |order_item|  %>
                      <div class="order-details-checkout">
                          <div class="tally-id">
                              <%= order_item.quantity %>x</div>
                          <div class="tally-item">
                              <%= order_item.menu_item.name%>
                          </div>
                          <div class="tally-price">
                            <%= humanized_money_with_symbol(order_item.menu_item.price) %></div>

                      </div>
                      <% total_price = total_price + (order_item.quantity * order_item.menu_item.price) %>
                      <% end %>
                      <hr>
                      <div class="order-details-checkout">
                          <div class="tally-id"></div>
                          <div class="tally-item">Total</div>
                          <div class="tally-price">
                            <%= humanized_money_with_symbol('%.2f' % total_price) %></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <% end %>
  </div>
