<div class="red-body">
    <%= render 'shared/navbar' %>
    <% @orders.each do |order| %>
    <div class="order-card">
        <h2>#
            <%= order.id %>
        </h2>
        <div class="order-info">
            <h3>
              <%= order.user.first_name %>
              <%= order.user.last_name %>
            </h3>
            <h2><%= order.time_started.strftime("%Y/%m/%d %H:%M") %> </h2>
        </div>
        <div class="order-items">
            <% total = 0 %>
            <% order.order_items.each do |order_item|  %>
            <h4>
              <%= order_item.menu_item.name%>
              € <%= number_with_precision(order_item.menu_item.price, precision: 2)%>
            </h4>
            <% total = total +  order_item.menu_item.price * order_item.quantity %>
            <% end %>
            <h3>
                <%= number_with_precision(total, precision: 2) %>
            </h3>
            <h2>
              <%= order.status %>
            </h2>
        </div>
    </div>
    <% end %>

  </div>
