<!DOCTYPE html>
<html>
  <head>
    <title>DePitsStop</title>
    <meta property="og:title" content="De Pits Stop" />
    <meta property="og:image" content="https://res.cloudinary.com/dppxl8tt2/image/upload/v1599556293/opengraph/ogImage_lilm8v.jpg" />

    <%= csrf_meta_tags %>

    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('blue_splash_logo.png') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body style="min-height: 100vh;">

    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
